h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:darkcyan;
    text-decoration: underline;
}

input{
    font-family:sans-serif;
    color:darkcyan;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

.image{
    text-align: center;
}